<nav class="nav">
    <div class="nav_container">
        <div>
            <%= image_tag("logo.png", class:"logo") %>
        </div>
        <ul class="nav_links">
            <li><a>Home</a></li>
            <li><a>Posts</a></li>
            <li><a>Service</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div>

    </div>
</nav>