<nav class="nav">
    <div class="nav_container">
        <div class="logo_container">
            <%= image_tag("logo.png", class:"logo") %>
            <h2>A.R.T Beauty</h2>
        </div>
        <a href="#" class="burger_menu"><i class="fas fa-bars"></i></a>
        <ul class="nav_links">
            <li><a>Home</a></li>
            <li><a>Posts</a></li>
            <li><a>Service</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div>

    </div>
</nav>
