<%= render 'nav'%>
<div class="container">
  <div class="split left">
    <h1>Frizerie</h1>
    <a href="#" class="button">Afla mai multe!</a>
  </div>
  <div class="split right">
    <h1>Manichiura</h1>
    <a href="#" class="button">Afla mai multe!</a>
  </div>
</div>

<section>
  <div class='posts'>
  </div>
</section>

<section>
  <div class='service'>
  </div>
</section>

<footer>
  <div class="footer">
    <a href="#" target="_black"><i class="fab fa-facebook-square fa-2x"></i><span>Facebook</span></a>
    <a href="#" target="_black"><i class="fab fa-instagram fa-2x"></i></i><span>Instagram</span></a>
    <a href="#" target="_black"><i class="fas fa-envelope fa-2x"></i><span>Gmail</span></a>
    <a href="#" target="_black"><i class="fas fa-map-marker-alt fa-2x"></i><span>Map</span></a>
    <a href="#" target="_black"><i class="fas fa-phone-square fa-2x"></i><span>Phone</span></a>
  </div>
  <div class="copy-right">
    <span>&copy; 2021 by </span>
    <span id="art">A.R.T Beauty</span>
  </div>
</footer>
